<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GamerWorld</title>
  <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>


<div class="topnav">
  <a class="active" href="/">GamerWorld</a>
  <a href="/">Dashboard</a>
  <a href="/trending">Trending</a>
  <a href="/reviews">Reviews</a>
  <a href="/profile">Profile</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit"><i class="fa fa-search"> Search</i></button>
    </form>
  </div>
  <a href='/login' id="login">Login</a>
</div>

<div id='mainContent'>

{{{body}}}

</div>
 

<div id='loginFormDiv' hidden>
  <h1>Login</h1>
  <hr>
  <br>
  <form id='loginForm' method='post' action= '/profile/login'>
    <div>
    <label for='username'> Username:  </label>
      <input type='text' name="username" id='username' placeholder='Username'>

    </div>
    <div>
    <label for='password'> Password: </label>
      <input type='text' name="password" id='password' placeholder='Password'>
    </div>
    <button type='submit' id='loginSubmit'>Submit</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
       crossorigin="anonymous"></script>
<script src="/public/js/login.js"></script>

</body>
</html>
