* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #222323;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #404545;
  color: #FFFFFF;
}

.topnav a.active {
  color: #AFFE4B;
  font-size: 25px;

}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 14px;
  margin-top: 12px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 14px 16px;
  margin-top: 12px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#login{

}

/* Review Form Styles */
#reviewFormDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 3em;
  padding-bottom: 3em;
  width: 50%;
  background-color: #494A4A;
  color: white;
}

#reviewFormTitle{
  font-size: 20px;
  background-color: #C4C4C4;
  border-radius: 1em;
}

#gameReviewed{
  font-size: 20px;
  background-color: #C4C4C4;
  border-radius: 1em;
}

#reviewFormReview{
  font-size: 20px;
  background-color: #C4C4C4;
  border-radius: 1em;
}

#reviewSubmit{
  color: #494A4A;
  background-color: #C4C4C4;
  border-radius: 2em;
  font-size: 16px;
  padding: 1em;
  margin-top: 1em;
  margin-left: 21em;
}

/* Review Main Styles */
.filter{
  display: hidden;
  text-align: center;
  border-radius: 3em;
  padding: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 15%;
  background-color: #494A4A;
  color: white;
}

.reviewBody{
  display: block;
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 1em;
  padding-bottom: 20em;
  width: 75%;
  background-color: #494A4A;
  color: white;
}

.reviewBody a{
  color: white;
  text-decoration: none;
}

.filterButton{
  display: block;
  color: #494A4A;
  background-color: #C4C4C4;
  border-radius: 1em;
  font-size: 12px;
  margin: auto;
  margin-top: 1.5em;
  padding: 0.5em;
}

#createButton{
  display: block;
  color: white;
  background-color: #494A4A;
  border-color: black;
  border-radius: 1em;
  font-size: 16px;
  margin: auto;
  margin-top: 2em;
  padding: 1em 2em;
}

/* Review Single Styles */
#reviewSingle{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 1em;
  width: 90%;
  background-color: #494A4A;
  color: white;
}

#commentDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 20em;
  width: 100%;
  background-color: #909092;
  color: white;
}

#newComment{
  display: inline;
  font-size: 20px;
  background-color: #D8DAD8;
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#commentSubmit{
  display: inline;
  color: #494A4A;
  background-color: #C4C4C4;
  border-radius: 1.5em;
  font-size: 12px;
  padding: 0.5em;
}


/* Profile Styles */
#profileDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 20em;
  width: 90%;
  background-color: #494A4A;
  color: white;
}

#profileEditDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 5em;
  width: 50%;
  background-color: #494A4A;
  color: white;
}

#profileName{
  color: white;
}

#profileEdit{
  color: #494A4A;
  background-color: #C4C4C4;
  border-radius: 2em;
  font-size: 16px;
  padding: 0.5em;
}

.profileInfo{
  margin-top: 1em;
  margin-bottom: 1em;
}

dt{
  margin-bottom: 0.5em;
  font-size: 24px;
}

#profileBio{
  font-size: 20px;
  background-color: #C4C4C4;
  border-radius: 1em;
}

#displayName{
  font-size: 20px;
  background-color: #C4C4C4;
  border-radius: 1em;
}

#profileSubmit{
  color: #494A4A;
  background-color: #C4C4C4;
  border-radius: 2em;
  font-size: 16px;
  padding: 1em;
  margin-top: 1em;
  margin-left: 21em;
}

/* Trending Styles */
#trendingDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 20em;
  width: 90%;
  background-color: #494A4A;
  color: white;
}

/* Dashboard Styles */
#dashboardDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 20em;
  width: 90%;
  background-color: #494A4A;
  color: white;
}

.singleGame{
  display: inline;
}

.gameName{
  max-width: 15em;
  max-height: 30em;
  margin-right: 3em;
  margin-left: 3.5em;
  margin-bottom: 1.5em;
}

.gameArt{
  max-width: 15em;
  max-height: 30em;
}

/* Game Styles */
#gameDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 20em;
  width: 80%;
  background-color: #494A4A;
  color: white;
}

#favButton{
  display: block;
  color: white;
  background-color: #494A4A;
  border-color: black;
  border-radius: 1em;
  font-size: 16px;
  margin: align-left;
  margin-top: 2em;
  padding: 1em 2em;
}

/* Login Form Styles */
#loginFormDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 5em;
  width: 30%;
  background-color: #494A4A;
  color: white;
}

#username{
  font-size: 20px;
  background-color: #C4C4C4;
  border-radius: 1em;
}

#password{
  font-size: 20px;
  background-color: #C4C4C4;
  border-radius: 1em;
}

#loginSubmit{
  margin-top: 2em;
  color: #494A4A;
  background-color: #C4C4C4;
  border-radius: 1em;
  font-size: 16px;
  padding: 0.5em;
}

/* Search Results Styles */
#resultsDiv{
  border-radius: 3em;
  padding: 3em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 20em;
  width: 90%;
  background-color: #494A4A;
  color: white;
}

/* Error Style */
#errorMessage{
  margin-left: 2em;
  margin-top: 2em;
  font-size: 24px;
  color: red;
}
