<main>
  <div id='dashboardDiv'>
  <h1 id='dashH1'>Browse Games</h1>
  <hr>
  <br>
    <br>

<dl>
  <div class='gamesInfo'>
<!--
  <img src='../../public/images/chrono_trigger.jpg' onclick='/profile'/>
  <a href='/profile'>Chrono Trigger</a>
  <dd><img src='{{{artwork}}}'></dd>
  <img src='{{{artwork}}}'>
  </div>
-->
  <div class='singleGame'>
    <a href='/profile'>
    <img src='../../public/images/chrono_trigger.jpg' class='gameName'/>
    </a>
  </div>
  <div class='singleGame'>
    <a href='/profile'>
    <img src='../../public/images/super_mario_world.jpg' class='gameName'/>
    </a>
  </div>
  <div class='singleGame'>
    <a href='/profile'>
    <img src='../../public/images/disco_elysium.jpg' class='gameName'/>
    </a>
  </div>
  <div class='singleGame'>
    <a href='/profile'>
    <img src='../../public/images/god_of_war.jpg' class='gameName'/>
    </a>
  </div>

</dl>
</div>
</main>
