<main>
  <div id='dashboardDiv'>
  <h1 id='dashH1'>Browse Games</h1>
  <hr>
  <br>
    <br>

<dl>
  <div class='gamesInfo'>
  <dt>Artwork:</dt>
  <img src='../../public/images/chrono_trigger.jpg'/>
  <dd>{{{name}}}</dd>
  </div>
  
</dl>
</div>
</main>