<main>
  <div id='reviewSingle'>
    <h1>Test name</h1>
    <h2>Test game</h2>
    <hr>

    <p>Some review</p>
    <!-- Single review content goes here -->

    <div id='commentDiv'>
      <h1>Comments</h1>
      <hr>

      <p>Some comment</p>
      <!-- Comment content goes here -->

    </div>
  </div>
</main>
