<main>
  <div id='reviewFormDiv'>
  <h1 id='reviewFormH1'>Post a Review</h1>
  <hr>
  <br>
  <form id='reviewForm' action='/allReviews' method='POST'>
    <div>
    <label for='title'>
      <input type='text' id='reviewFormTitle' placeholder='  Title'/>
    </label>
    </div>
    <br>
    <div>
    <label for='review'>
      <textarea id='reviewFormReview' rows='10' cols='60' placeholder=' Review'></textarea>
    </label>
    </div>
    <br>
    <button type='submit' id='reviewSubmit'>Submit</button>
  </form>
  </div>
</main>
