<main>
<div id='resultsDiv'>
  <h1>Results</h1>
  <hr>
  <br>
  {{#each resultsUsers}}
    <p></p>
  {{/each}}
  {{#each resultsGames}}
    <a href='/games/{{this._id}}'>
        <h2>{{this.name}}</h2>
      </a>
  {{/each}}
</div>
</main>