<main>
<div id="trendingDiv">
<h1 id="trendingName">Top Trending Games</h1>

<br>
<hr>
<br>
<dl>
  <div class='TrendingInfo'>
  <dt>Name:</dt>
  <dd>{{name}}</dd>
  <dt>Artwork:</dt>
  <dd>{{{artwork}}}</dd>
  </div>
  
</dl>
</div>
</main>